body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  margin: auto;
  padding: 1rem 6em;
}

h1 {
  text-align: center;
}

nav {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-rows: 2.5rem;
  justify-items: center;
  align-items: center;
  justify-items: center;
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.movies {
  display: grid;
  grid-template: 250px 1fr / 200px 1fr;
}
