:root {
  --text: #e7fbd6;
  --background: #091002;
  --primary: #b7f283;
  --secondary: #3411a0;
  --accent: #e823c3;
  --radius: 1rem;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: var(--text);
  background-color: var(--background);
  margin: 0;
}

h1,
h2 {
  text-align: center;
  color: var(--text);
}

nav {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  grid-template-rows: 4rem;
  justify-items: center;
  align-items: center;
  justify-items: center;
  background-color: var(--secondary);
}

form {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: var(--text);
}

.movies {
  display: grid;
  grid-template: 250px 1fr / 200px 1fr;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 80%;
}

.search>input {
  border-radius: var(--radius) 0 0 var(--radius);
  width: 100%;
  padding-left: 1rem;
  border: 0;
  background-color: var(--background);
  color: var(--text);
}

.search_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border-radius: 0 var(--radius) var(--radius) 0;
  border: 0;
  height: 2rem;
  aspect-ratio: 1.5;
  padding-right: 0.25rem;
  background-color: var(--accent);
}

.search_icon:hover,
.search_icon:focus {
  background-color: var(--accent);
  color: var(--primary);
  transition: background-color 100ms linear, color 100ms linear;
}

.search_icon>i {
  justify-self: center;
  align-self: center;
  color: var(--background);
}

.login_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.login_form>button {
  margin: 0 0.75rem;
  padding: .5rem 1rem;
  color: var(--secondary);
  background-color: var(--primary);
  border: 0;
  border-radius: var(--radius);
}

.login_form>button:hover,
.login_form>button:focus {
  background-color: var(--accent);
  /* color: var(--primary); */
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 3rem 5rem;
}

.filter {
  width: 12%;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: var(--secondary);
}

.filter>form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 0 .5rem;
}

.filter>form>* {
  color: var(--text);
}

.filter>form>h3 {
  font-size: 1.2rem;
  color: var(--text);
}

.filter>form>.filter_element_button {
  color: var(--text);
  background-color: var(--secondary);
  font-size: 1rem;
  border: .2rem solid;
  border-radius: var(--radius);
  border-color: var(--background);
  margin: .1rem 0;
  width: fit-content;
}

.filter>form>.filter_element_button:hover,
.filter>form>.filter_element_button:focus {
  border-color: var(--accent);
}

.filter>form>.filter_element_reset {
  color: var(--text);
  background-color: var(--secondary);
  font-size: 1rem;
  margin: .8rem 0;
  width: fit-content;
  border: .2rem solid;
  border-radius: var(--radius);
  border-color: var(--accent);
}

.filter>form>.filter_element_reset:hover,
.filter>form>.filter_element_reset:focus {
  border-color: var(--primary);
}

@media (prefers-reduced-motion: no-preference) {

  .filter>form>.filter_element_reset:hover,
  .filter>form>.filter_element_reset:focus,
  .filter>form>.filter_element_button:hover,
  .filter>form>.filter_element_button:focus {
    transition: border-color 0.1s linear;
  }

  .login_form>button:hover,
  .login_form>button:focus {
    scale: 1.05;
    transition: scale 0.1s linear, background-color 0.1s linear;
    transform-origin: center;
  }
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 3rem;
  width: 100%;
}

.movies>.image {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: .7;
  overflow: hidden;
}

.movies>.image>.image_info {
  position: absolute;
  bottom: -55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#00000000, #000000ff 75%);
  width: 100%;
  min-height: 70%;
  max-height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .movies>.image>.image_info {
    bottom: -50%;
    transition: bottom 0.3s ease-in-out;
  }

  .movies>.image:hover>.image_info,
  .movies>.image:focus>.image_info {
    bottom: 0;
  }

  @keyframes slide-in {
    from {
      bottom: -50%;
    }

    to {
      scale: 1;
      bottom: 0;
    }
  }
}

.movies>.image>.image_info>form {
  margin: 1rem;
  margin-top: 2rem;
}

.movies>.image>.image_info>form>.review_button {
  cursor: pointer;
  font-size: 1rem;
  color: var(--text);
  background-color: var(--accent);
  padding: .25rem .75rem;
  border-radius: var(--radius);
  border: 0;
}

.movies>.image>.image_info>form>.review_button:hover,
.movies>.image>.image_info>form>.review_button:focus {
  background-color: var(--secondary);
  color: var(--primary);
  transition: background-color 100ms linear, color 100ms linear, scale 100ms linear;
  scale: 1.05;
}

.movies>.image>.image_info>h3 {
  text-shadow: black 0 0 .5rem;
  font-size: 1.7rem;
  color: white;
  position: relative;
  margin: .25rem;
}

.movies>.image>.image_info>.image_buttons,
.movies>.image>.image_info>p {
  color: white;
  position: relative;
  margin: .25rem;
  text-align: justify;
}

@media (prefers-reduced-motion: no-preference) {
  .movies>img {
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  transform-origin: center;
}

.signin>* {
  margin: .5rem 0;
  font-size: 1.0rem;
  border-radius: var(--radius);
}

.signin>input {
  border: 0;
  padding: .25rem var(--radius);
  max-width: 25rem;
  min-width: 15rem;
}

.signin>button {
  background-color: var(--accent);
  border-radius: var(--radius);
  padding: .5rem 1.25rem;
  font-size: 1rem;
  border: 0;
  width: fit-content;
  cursor: pointer;
  margin: 2rem 0;
}

@media (prefers-reduced-motion: no-preference) {

  .signin>button:hover,
  .signin>button:focus {
    scale: 1.05;
    background-color: var(--secondary);
    color: var(--text);
    transition: scale 0.1s linear, background-color 0.1s linear, color 0.1s linear;
    transform-origin: center;
  }
}

.movie_review {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.movie_review>.image {
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: .7;
  overflow: hidden;
  min-width: 30rem;
}

.movie_review>.ratings {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  margin: 1.5rem;
}

.movie_review>.ratings>.score {
  display: flex;
  flex-direction: row;
}

.movie_review>.ratings>.score>span {
  margin: 1rem;
  font-size: 1.5rem;
}

.movie_review>.ratings>.scoring {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 1.25rem;
}

.movie_review>.ratings>.scoring>input {
  width: 10rem;
  aspect-ratio: 5;
  font-size: 1.25rem;
}

.movie_review>.ratings>.scoring>button {
  background-color: var(--primary);
  color: var(--secondary);
  cursor: pointer;
  margin: 1rem;
  padding: .25rem .75rem;
  border: 0;
  border-radius: var(--radius);
  font-size: 1.25rem;
  width: fit-content;
}

.movie_review>.ratings>.scoring>button:hover,
.movie_review>.ratings>.scoring>button:focus {
  background-color: var(--secondary);
  color: var(--primary);
  transition: color 100ms linear, background-color 100ms linear, scale 100ms linear;
  scale: 1.05;
}

.comments {
  grid-column: span 2;
}

.comments>.comment_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.comments>.comment_form>textarea {
  width: 35%;
  aspect-ratio: 4;
  resize: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.comments>.comment_form>button {
  background-color: var(--primary);
  color: var(--secondary);
  border: 0;
  margin: 1rem;
  padding: .25rem .75rem;
  border-radius: var(--radius);
  font-size: 1.25rem;
  cursor: pointer;
}

.comments>.comment_form>button:hover,
.comments>.comment_form>button:focus {
  color: var(--primary);
  background-color: var(--secondary);
  transition: color 100ms linear, background-color 100ms linear, scale 100ms linear;
  scale: 1.1;
}

.comments>.comment {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--secondary);
  margin: 1rem 0;
  padding: 1.5rem 1rem;
  border-radius: var(--radius);
}

.comments>.comment>p,
.comments>.comment>span>h4 {
  margin: 0;
}
